html {
	box-sizing: border-box;
	font-family: arial, sans-serif;
} body, body:after {
	margin: 0;
	padding: 0;
} a {
	text-decoration: none;
} a:hover { text-decoration: underline; }

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
} nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 15px;
	margin: 0;
} nav > ul > li {
	padding: 0 15px 0 0;
} nav > ul > li > a {
	color: rgba(0,0,0,.87);
	font-size: 13px;
	line-height; 24px;
} nav > ul > li > a:hover { 
	opacity: .85
} nav > ul > li > img {
	border-radius: 50%;
} #right-nav {
	padding: 2px 5px 0 15px;
} #boxes-icon {
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-size: 528px 68px;
	background-position: -132px -38px;
	opacity: 0.55;
	height: 30px;
	width: 30px;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	vertical-align: middle;	
} #boxes-icon:hover { opacity: .85; }

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
} #icons {
	display: flex;
	flex-direction: row;
	position: absolute;
	margin-top: 133px;
    width: 43%;
    justify-content: space-between;
    align-items: center;
} main > div > svg {
} #search {
} #search-icon {
	height: 20px;
	margin-left: 3px;
	color: #9aa0a6;
	fill: currentColor;
} #mic-icon {
	height: 24px;
	margin-right: 5px;
} main > input {
    margin: 30px;
    height: 40px;
    width: 480px;
    border-style: solid;
    border-width: 1px;
	border-radius: 24px;
	border-color: rgb(223,225,229);
	text-indent: 45px;
	outline: none;
	z-index: 2;
	font-size: 16px;
	background-color: transparent;
} main > input:hover {
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
	border-color: rgba(223,225,229,0);
} #search-buttons {
} #search-buttons > button {
	padding: 5px 16px;
	border: 1px solid #f8f9fa;
	background-color: #f8f9fa;
	margin: 11px 4px 20px 4px;
	color: rgb(60,64,67);
	font-size: 14px;
	line-height: 27px;
	border-radius: 4px;
	cursor: pointer;
} #search-buttons > button:hover {
	border-color: #dadce0;
	box-shadow: 0 1px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
	color: #202124;
} main > a {
	color: #1a0dab;
	font-size: small;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px 15px 13px 15px;
	background-color: #f2f2f2;
	border-top-style: solid;
	border-color: #ddd;
	border-width: 1px;
} footer > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
} footer > ul > li {
	padding: 0 15px 0 15px;
} footer > span {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: -100px;
} footer > span > a, footer > ul > li > a {
	color: #70757a;
	font-size: 14px;
	cursor: pointer;
} footer > span > img {
	margin-right: -4px;
	padding-left: 10px;
	height: 14px;
} footer > span > a {
	margin: 2px 10px 0px 10px;
}
